[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "org-website-example"]
	path = org-website-example
	url = https://github.com/SystemCrafters/org-website-example
