body {
    font-size: 15pt;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    font-size: 14pt;
    text-align: center;
    padding-top: 7pt;
    padding-bottom: 7pt;
}

.lesson {
    width: 5em;
    display: inline-block;
}

td.Alg_y_Est {
    background-color: paleturquoise;
    color: black;
}

td.Cálculo_I {
    background-color: orangered;
    color: black;
}

td.Derech_Con {
    background-color: green;
    color: white;
}

td.Economía_I {
    background-color: yellow;
    color: black;
}

td.Filosofía {
    background-color: blue;
    color: white;
}

td.FundTeóPsiI {
    background-color: cyan;
    color: black;
}

td.Fund_Bioló {
    background-color: greenyellow;
    color: black;
}

td.Hist_Psicol {
    background-color: violet;
    color: black;
}

td.Historia_G {
    background-color: lightyellow;
    color: black;
}

td.IntCienPol {
    background-color: magenta;
    color: black;
}

td.Int_Infor {
    background-color: red;
    color: white;
}

td.Int_Ingen {
    background-color: darkblue;
    color: white;
}

td.Int_a_Soci {
    background-color: lightblue;
    color: black;
}

td.Mat_Discr {
    background-color: purple;
    color: white;
}

td.Meto_Estud {
    background-color: lime;
    color: black;
}

td.PedagogíaG {
    background-color: pink;
    color: black;
}

td.Quím_Gen {
    background-color: silver;
    color: black;
}

td.Real_social {
    background-color: black;
    color: white;
}

td.Sist_Repr {
    background-color: maroon;
    color: white;
}

td.Taller_Esc {
    background-color: olive;
    color: black;
}

td.Taller_Pro {
    background-color: darkslateblue;
    color: white;
}

td.Tutoría_I {
    background-color: firebrick;
    color: white;
}

