body {
    font-size: 15pt;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    font-size: 14pt;
    text-align: center;
    padding-top: 7pt;
    padding-bottom: 7pt;
}

.lesson {
    width: 5em;
    display: inline-block;
}

td.Alg_y_Geo {
    background-color: paleturquoise;
    color: black;
}

td.F.T.PsicoII {
    background-color: orangered;
    color: black;
}

td.Fund_Tier {
    background-color: green;
    color: white;
}

td.Física_I {
    background-color: yellow;
    color: black;
}

td.HistEedA {
    background-color: blue;
    color: white;
}

td.Hist_SocG {
    background-color: cyan;
    color: black;
}

td.Inglés I {
    background-color: greenyellow;
    color: black;
}

td.Int_Est_Ad {
    background-color: violet;
    color: black;
}

td.Mat_y_Pro {
    background-color: lightyellow;
    color: black;
}

td.NeurobioPsi {
    background-color: magenta;
    color: black;
}

td.Pens_Cien {
    background-color: red;
    color: white;
}

td.Pol_y_leg {
    background-color: darkblue;
    color: white;
}

td.Prograc_I {
    background-color: lightblue;
    color: black;
}

td.PráctProf {
    background-color: purple;
    color: white;
}

td.PsicEvolutI {
    background-color: lime;
    color: black;
}

td.Psic_Gen {
    background-color: pink;
    color: black;
}

td.SemProbEd {
    background-color: silver;
    color: black;
}

td.Sis_deC_I {
    background-color: black;
    color: white;
}

td.Sis_y_Mod {
    background-color: maroon;
    color: white;
}

td.Sist.Tec {
    background-color: olive;
    color: black;
}

td.SociEduc {
    background-color: darkslateblue;
    color: white;
}

td.T.PsicoanaI {
    background-color: firebrick;
    color: white;
}

td.Teor_PolI {
    background-color: tomato;
    color: white;
}

